In [7]:
import pandas as pd

In [8]:
import yfinance as yf

df  = yf.Ticker('AAPL')

df  = df.history(period = "1mo")

In [9]:
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-09-02 00:00:00-04:00,229.250000,230.850006,226.970001,229.720001,44075600,0.0,0.0
2025-09-03 00:00:00-04:00,237.210007,238.850006,234.360001,238.470001,66427800,0.0,0.0
2025-09-04 00:00:00-04:00,238.449997,239.899994,236.740005,239.779999,47549400,0.0,0.0
2025-09-05 00:00:00-04:00,240.000000,241.320007,238.490005,239.690002,54870400,0.0,0.0
2025-09-08 00:00:00-04:00,239.300003,240.149994,236.339996,237.880005,48999500,0.0,0.0